@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-sm-6">
        <p style="font-family:Times New Roman; font-size:120%;">
            The European Union is set up with the aim of ending the frequent and bloody wars between neighbours, which culminated in the
            Second World War. As of 1950, the European Coal and Steel Community begins to unite European countries economically and
            politically in order to secure lasting peace. The six founding countries are Belgium, France, Germany, Italy, Luxembourg
            and the Netherlands.<br /><br />The EU supports partner countries around the world in their efforts to secure lasting peace, promote
            their political stability or rebuild societies and infrastructures after crisis situations. The EU's priorities in this
            field are to promote good governance, establish the rule of law, fight against crime and strengthen law enforcement.<br /><br />
            The Europe Peace Congress Online (EPCO) has helped to maintain peace in Europe for over 5 years, enabling members of 
            the defense ministry and peacekeeping council in Europe to communicate on a secured platform, to establish rules for conflict 
            prevention at European level.<br /> Our computer system will also allow the mapping of the map of Europe to be mapped both at
            the level of states (regions with names and history) and at the level of independent regions.
        </p>
    </div>
</div>
