@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bucharest, Romania<br />
    str. Alexandru Ioan Cuza, nr. 32a <br />
    <abbr title="Phone">P:</abbr>
    0235 555 032
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@epco.com">Support@epco.com</a><br />
</address>